# Byte-compiled / optimized / DLL files
__pycache__/

.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Folders
fairtrial/
.ipynb_checkpoints
ramp-data/
model_ramp_baseline/
models_architectures
outputs
